body{
    background-color: aliceblue;
}
.box{
    margin-left: 150px;
    margin-top: 100px;
    overflow-y:scroll;

}
.box::-webkit-scrollbar{
    display: none;
}
.bar{
    margin: 10PX;
    width: 300px;
    margin-left: 20px;
    height:30px;
}


.product{
 display: flex;
 margin-left: 20px;
}
